<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeadlineService.UI</title> 
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/styles.min.css" /> *@
    <link rel="stylesheet" href="~/css/Home.css" />
    @* <link rel="stylesheet" href="~/DeadlineService.UI.styles.css" asp-append-version="true" /> *@
    
    @RenderSection("Scripts", required: false)

</head>

<body class="nav-on-header">
    @Html.Partial("Navbar")
    <div>
            @RenderBody()
    </div>
    <script src="~/js/Home.js"></script>
    <script src="https://kit.fontawesome.com/5b1ad6f836.js" crossorigin="anonymous"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
