@{
}
<nav>
    <div class="nav-bar">
        <i class='fa-solid fa-bars sidebarOpen'></i>
        <span class="logo navLogo"><a href="#">DeadLine.Service</a></span>
        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">CodingLab</a></span>
                <i class="fa-solid fa-xmark siderbarClose"></i>
                @* <i class='bx bx-x siderbarClose'></i> *@
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Client</a></li>
                <li><a href="#">Freelancer</a></li>
                <li><a href="#">Services</a></li>
                <li class="sign-btn"><a href="#">Sign In</a></li>
            </ul>
        </div>
        <div class="darkLight-searchBox">
            <div class="dark-light">
                <i class="fa-solid fa-moon moon"></i>
                @* <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i> *@
                <i class="fa-solid fa-sun sun"></i>
            </div>
            <div class="searchBox">
                <div class="searchToggle">
                    <i class="fa-solid fa-xmark cancel"></i>
                    @* <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i> *@
                    <i class="fa-solid fa-magnifying-glass search"></i>
                </div>
                <div class="search-field">
                    <input type="text" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    @* <i class='bx bx-search'></i> *@
                </div>
            </div>
        </div>
    </div>
</nav>
@* <nav class="navbar navbar-expand-lg navbar-light bg-light-primary" >
    <div class="--bs-green">
        <p></p>
    </div>
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav> *@